APScheduler==3.11.0
attrs==25.3.0
beautifulsoup4==4.13.3
bidict==0.23.1
blinker==1.9.0
buildozer==1.5.0
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
distlib==0.3.9
dnspython==2.7.0
eventlet==0.39.1
fake-useragent==2.1.0
ffmpeg-python==0.2.0
filelock==3.17.0
Flask==3.1.0
flask-cors==5.0.1
Flask-Mail==0.10.0
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
future==1.0.0
google-api-core==2.24.2
google-api-python-client==2.165.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.69.2
greenlet==3.1.1
gTTS==2.5.4
h11==0.14.0
httplib2==0.22.0
idna==3.10
instaloader==4.14.1
itsdangerous==2.2.0
Jinja2==3.1.6
libmagic==1.0
MarkupSafe==3.0.2
oauthlib==3.2.2
outcome==1.3.0.post0
packaging==24.2
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
proto-plus==1.26.1
protobuf==6.30.1
ptyprocess==0.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyparsing==3.2.1
PySocks==1.7.1
python-dotenv==1.0.1
python-engineio==4.11.2
python-magic==0.4.27
python-socketio==5.12.1
pyttsx3==2.98
qrcode==8.0
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
selenium==4.29.0
sh==2.2.2
simple-websocket==1.1.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SpeechRecognition==3.14.1
SQLAlchemy==2.0.41
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.12.2
tzdata==2025.2
tzlocal==5.3.1
uritemplate==4.1.1
urllib3==2.3.0
virtualenv==20.29.2
webdriver-manager==4.0.2
websocket-client==1.8.0
Werkzeug==3.1.3
wsproto==1.2.0
yt-dlp==2025.2.19
