<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Restablece tu contraseña - Gatito Sentimental</title>
</head>
<body>
    <p>Hola {{ username }},</p>
    <p>Has solicitado restablecer tu contraseña para Gatito Sentimental.</p>
    <p>Por favor, haz clic en el siguiente enlace para crear una nueva contraseña:</p>
    <p><a href="{{ reset_url }}">{{ reset_url }}</a></p>
    <p>Este enlace expirará en 1 hora.</p>
    <p>Si no solicitaste este restablecimiento, puedes ignorar este correo.</p>
    <p>Saludos,<br>El equipo de Gatito Sentimental</p>
</body>
</html>
